<!DOCTYPE HTML>
<html>

<head>
  <title>Eagle FLEX - Password Change</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Eagle <span class="logo_colour">FLEX</span></a></h1> 
          <h2>Georgia Southern Athlete Wellness Tracker</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">Home</a></li>
          <li><a href="surveys.html">Surveys</a></li>
          <li><a href="teams.html">Teams</a></li>
          <li><a href="personal.html">Personal Settings</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
	  <h1>Change Password</h1>
		<form method="post" action ="#">
			<div class="form_settings">
            <p><span>Enter Current Password</span><input type="password" name="current_pass" value="" /></p>
			<p><span>Enter New Password</span><input type="password" name="new_pass" value="" /></p>
			<p><span>Confirm New Password</span><input type="password" name="confirm_pass" value="" /></p>
			<p style="padding-top: 15px"><input class="submit" type="submit" name="login_submit" value="Submit" /></p>
			</div>
		</form>
	</div>
	<div id="footer">
      <p><a href="index.html">Home</a> | <a href="surveys.html">Surveys</a> | <a href="teams.html">Teams</a> | <a href="personal.html">Personal Settings</a></p>
    </div>
	</div>
</body>
</html>